<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') -%> 
    <body>
        <div class="container-fluid">
            <div class="row">
                <%- include('partials/sidebar') -%> 
                <div class="col-sm-10">
                   <h1><%= title %> </h1>
                   <form action="" method="post">
                       <div class="form-group">
                           <label for="book">Book:</label>
                           <select 
                                name="book" 
                                id="book" 
                                class="form-control"
                                aria-placeholder="Select book"
                                required
                            >
                                <% book_list.sort((a,b) => { %>
                                    <% const textA = a.title.toUpperCase() %> 
                                    <% const textB = b.title.toUpperCase() %> 
                                    <% return (textA < textB) ? -1: (textA > textB) ? 1 : 0 %> 
                                <% }) %> 
                                <% book_list.forEach(book => { %>
                                    <% if(bookinstance) { %>
                                        <option 
                                            value="<%= book._id %> "
                                            <%= bookinstance.book._id.toString() === book._id.toString() ? 'selected':"" %> 
                                        >
                                            <%= book.title  %> 
                                        </option>

                                    <% } else {%> 
                                        <option value="<%= book._id %> "><%= book.title %> </option>
                                    <% } %> 
                                <% }) %> 
                            </select>
                       </div>
                       <div class="form-group">
                           <label for="imprint">Imprint: </label>
                           <input 
                                type="text" 
                                id="imprint" 
                                class="form-control"
                                placeholder="Publisher and date information"
                                name="imprint"
                                required
                                value="<%= bookinstance === undefined ? "":bookinstance.imprint %> "
                            >
                       </div>
                       <div class="form-group">
                            <label for="due_back">Date when book available: </label>
                            <input 
                                type="date" 
                                id="due_back" 
                                class="form-control"
                                name="due_back"
                                value=<%= bookinstance === undefined ? "2000-01-01":bookinstance.dateAvailable %> 
                            >
                        </div>
                        <div class="form-group">
                            <label for="status">Status: </label>
                            <select name="status" id="status" class="form-control" required aria-placeholder="Select status">
                                <option value="Maintenance">Maintenance</option>
                                <option value="Available">Available</option>
                                <option value="Loaned">Loaned</option>
                                <option value="Reserved">Reserved</option>
                            </select>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                        
                       
                   </form> 

                   <% if (errors) { %>
                    <ul>
                        <% errors.forEach(error => { %>
                            <li><%= error.msg %> </li>
                        <% }) %> 
                    </ul>
                <% } %> 
                </div>
            </div>
        </div>
    </body>
</html>